In [39]:
import pandas as pd

In [40]:
# Load the dataset using pandas
df = pd.read_csv("day1-input.txt", header=None)

In [41]:
df.head()

      0
0  1778
1  1845
2  1813
3  1889
4  1939

In [42]:
input_list = df[0].tolist()

In [43]:
len(input_list) -1

199

In [35]:
for i in range(0, 198):
    for j in range(i+1, 199):
        for k in range(i+2, 200):
            mysum = input_list[i] + input_list[j] + input_list[k]
            if (mysum == 2020):
                i_index = i
                j_index = j
                k_index = k
                print("i = " + str(i_index) + ", j = " + str(j_index) + ", k = " + str(k_index))

i = 56, j = 118, k = 137
i = 56, j = 137, k = 118

In [36]:
input_list[56]

807

In [37]:
input_list[118]

320

In [38]:
input_list[137]

893